<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Moxly app</title>
        <meta name="description" content="Moxly wewnętrzna aplikacja zarządcza" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
        />
    </head>
    <body>
        <div id="react-app"></div>
        <script type="module" src="index.tsx"></script>
    </body>
</html>
